<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdws.vehicle.mapper.StudentMapper">
    <insert id="addStudent">
        INSERT INTO student(stu_num,stu_name,stu_gender,stu_age) 
             VALUES (#{student.stuNum}, #{student.stuName}, #{student.stuGender}, #{student.stuAge});
    </insert>
    
    <select id="getStudent" resultType="com.gdws.vehicle.model.StudentModel">
        SELECT stu_num,stu_name,stu_gender,stu_age FROM student WHERE stu_gender = #{stuGender};
    </select>
</mapper>