.container-fluid {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  background: #00011f;
  overflow: hidden;
  height: 100%; }
  .container-fluid header {
    height: 13.2%;
    width: 100%;
    background: -webkit-linear-gradient(#383d5f 60%, #07142b);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#383d5f 60%, #07142b);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#383d5f 60%, #07142b);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#383d5f 60%, #07142b);
    overflow: hidden; }
    .container-fluid header p {
      margin-top: 0;
      margin-bottom: 0; }
    .container-fluid header .h1 {
      color: #fff;
      height: 100%;
      background: url("../images/line03.png") center 80% no-repeat; }
  .container-fluid section {
    height: 80%; }
    .container-fluid section .row {
      height: 96%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 18px; }
      .container-fluid section .row > div {
        padding-left: 6px;
        padding-right: 6px;
        height: 100%; }
        .container-fluid section .row > div .sidebar,
        .container-fluid section .row > div .content {
          height: 100%;
          border: 1px solid #04b7e2;
          min-height: 100%; }
        .container-fluid section .row > div .sidebar .nav {
          color: #fff;
          padding-left: 1.25%;
          padding-right: 1.25%; }
          .container-fluid section .row > div .sidebar .nav p {
            margin: 0;
            padding: 5% 10% 5% 25%;
            background: url("../images/arrow.png") 15% 50% no-repeat;
            background-size: 20px 20px;
            cursor: pointer; }
          .container-fluid section .row > div .sidebar .nav ul {
            display: none;
            margin-bottom: 0; }
            .container-fluid section .row > div .sidebar .nav ul li {
              padding: 5% 10% 5% 25%;
              cursor: pointer; }
              .container-fluid section .row > div .sidebar .nav ul li a {
                color: #fff;
                text-decoration: none; }
            .container-fluid section .row > div .sidebar .nav ul .active {
              background: #8a531d; }
        .container-fluid section .row > div .content {
          height: 100%;
          background: url("../images/mapbg.png") no-repeat;
          position: relative; }
          .container-fluid section .row > div .content .map {
            width: 100%;
            height: 100%;
            margin: auto; }
          .container-fluid section .row > div .content .calendar {
            position: absolute;
            top: 2%;
            right: 1%; }
            .container-fluid section .row > div .content .calendar span {
              margin: 0 10px; }
            .container-fluid section .row > div .content .calendar select {
              color: #fff;
              border: 1px solid #04b7e2;
              appearance: none;
              -moz-appearance: none;
              -webkit-appearance: none;
              background: url("../images/select.png") no-repeat scroll 96% center transparent;
              padding-right: 14px;
              background-size: 12px 12px; }
              .container-fluid section .row > div .content .calendar select option[selected] {
                font-weight: bold; }
              .container-fluid section .row > div .content .calendar select option {
                border: 1px solid #04b7e2;
                background-color: #0b2e49; }
            .container-fluid section .row > div .content .calendar select::-ms-expand {
              display: none; }
          .container-fluid section .row > div .content .focus,
          .container-fluid section .row > div .content .behavior-analysis-box,
          .container-fluid section .row > div .content .behavior-prediction-box {
            position: absolute;
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;
            border-radius: 5px 5px 0 0;
            background: url("../images/pop-ups_bg.png") no-repeat;
            background-size: 100% 100%; }
            .container-fluid section .row > div .content .focus .title,
            .container-fluid section .row > div .content .behavior-analysis-box .title,
            .container-fluid section .row > div .content .behavior-prediction-box .title {
              padding-left: 30px;
              padding-right: 30px;
              color: #fff; }
              .container-fluid section .row > div .content .focus .title span,
              .container-fluid section .row > div .content .behavior-analysis-box .title span,
              .container-fluid section .row > div .content .behavior-prediction-box .title span {
                float: right; }
                .container-fluid section .row > div .content .focus .title span img,
                .container-fluid section .row > div .content .behavior-analysis-box .title span img,
                .container-fluid section .row > div .content .behavior-prediction-box .title span img {
                  cursor: pointer; }
          .container-fluid section .row > div .content .focus {
            display: none; }
            .container-fluid section .row > div .content .focus .box {
              margin-top: 26px;
              padding-left: 30px;
              padding-right: 30px;
              color: #fff;
              height: 80%; }
              .container-fluid section .row > div .content .focus .box .table {
                border: 1px solid #04b7e2; }
                .container-fluid section .row > div .content .focus .box .table tr:first-child {
                  background: #04b7e2; }
          .container-fluid section .row > div .content .behavior-analysis-box .box,
          .container-fluid section .row > div .content .behavior-prediction-box .box {
            width: 90%;
            height: 80%;
            margin: 26px auto;
            color: #fff; }
            .container-fluid section .row > div .content .behavior-analysis-box .box p,
            .container-fluid section .row > div .content .behavior-prediction-box .box p {
              margin-top: 2%; }
              .container-fluid section .row > div .content .behavior-analysis-box .box p .search,
              .container-fluid section .row > div .content .behavior-prediction-box .box p .search {
                background-image: url("../images/search.png");
                background-position: 5% 50%;
                background-repeat: no-repeat;
                font-size: 18px;
                padding-left: 8%;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 5%;
                background-color: transparent;
                border: 1px solid #04b7e2; }
              .container-fluid section .row > div .content .behavior-analysis-box .box p .button,
              .container-fluid section .row > div .content .behavior-prediction-box .box p .button {
                font-size: 18px;
                color: #d8e7e8;
                background: linear-gradient(#4b9ff8, #1f71bc, #26628b);
                border: 1px solid #1a2a38;
                padding: 10px 21px;
                margin-left: 30px;
                outline: none; }
            .container-fluid section .row > div .content .behavior-analysis-box .box .behavior-analysis,
            .container-fluid section .row > div .content .behavior-prediction-box .box .behavior-analysis {
              width: 90%;
              height: 70%; }
            .container-fluid section .row > div .content .behavior-analysis-box .box .table,
            .container-fluid section .row > div .content .behavior-prediction-box .box .table {
              border-top: 1px solid #04b7e2;
              border-bottom: 1px solid #04b7e2; }
              .container-fluid section .row > div .content .behavior-analysis-box .box .table tr:first-child,
              .container-fluid section .row > div .content .behavior-prediction-box .box .table tr:first-child {
                background: #04b7e2; }
  .container-fluid footer {
    height: 6%;
    color: #fff; }

.BMap_cpyCtrl {
  display: none; }

.anchorBL {
  display: none; }

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-top: 1px solid #04b7e2; }

html, body, .container-fluid {
  height: 100%; }

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #04b7e2; }

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #04b7e2; }

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #04b7e2; }

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #142a42; }

/*# sourceMappingURL=common.css.map */
