/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 14px;
  font-family: "arial, helvetica, sans-serif";
  color: #333;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } 
 }
.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3e97eb; }

.magic-radio:checked + label:before {
  border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }

.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0; }
.magic-checkbox:checked + label:before {
  border: #3e97eb;
  background: #3e97eb; 
}
.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  color: #fff;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 85px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #383d5f), to(#07142b));
  background: -webkit-linear-gradient(#383d5f 60%, #07142b);
  background: linear-gradient(#383d5f 60%, #07142b);
}
.header > h1 {
  margin-top: 5px;
  height: 80px;
  background: url(../image/line03.png) no-repeat center;
  font-size: 28px;
  color: #fff;
}
.container {
  position: absolute;
  left: 0;
  top: 85px;
  right: 0;
  bottom: 50px;
  width: 100%;
}
.container .aside {
  width: 20%;
  height: 100%;
  min-height: 100%;
  border: 1px solid #04b7e2;
  float: left;
}
.container .aside .item .text {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: url(../image/arrow.png) no-repeat 25% center;
  background-size: 20px 20px;
}
.container .aside .item .item-bar {
  display: none;
}
.container .aside .item .item-bar > a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.container .aside .item .item-bar > a.active{
	 background: #8a531d;
}
.container .aside .item .item-bar > a:hover {
  background: #8a531d;
}
.container .content {
  width: 80%;
  height: 100%;
  border: 1px solid #04b7e2;
  margin-left: 21%;
  background: url(../image/mapbg.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.container .content .calendar {
  position: absolute;
  top: 2%;
  right: 1%;
}
.container .content .calendar > span {
  margin: 0 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}
.container .content .calendar > select {
  color: #fff;
  border: 1px solid #04b7e2;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../image/select.png) no-repeat scroll 90% center transparent;
  background-size: 12px 12px;
  padding: 5px 20px 5px 5px;
}
.container .content .calendar > select > option {
  border: 1px solid #04b7e2;
  background-color: #0b2e49;
}
.container .content .data {
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: 5;
  left: 10%;
  top: 10%;
  border-radius: 5px 5px 0 0;
  background: url(../image/pop-ups_bg.png) no-repeat;
  background-size: 100% 100%;
}
.container .content .data .title {
  font-size: 18px;
  color: #fff;
  padding: 10px 30px;
}
.container .content .data .close {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 26px;
  height: 26px;
  float: right;
  background: url(../image/close.png) no-repeat center;
  background-size: contain;
  cursor: pointer;
}
.container .content .data .box {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  height: 80%;
}

.container .content .data .box .time_group{
	float:right;
	font-size:0;
	margin-bottom:40px;
}
.container .content .data .box .time_group .opt{
	display:inline-block;
	font-size:14px;
	margin-left:10px;
	line-height:24px;
}
.container .content .data .box .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #04b7e2;
  text-align: center;
}
.container .content .data .box .table > thead {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #04b7e2;
}
.container .content .data .box .table > tbody > tr {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 1px solid #04b7e2;
}
.container .content .data .box .table > tbody > tr:hover {
  background-color: #04B7E2;
}
.container .content .data .box .table > tbody > tr:last-child {
  border-bottom: none;
}
.container .content .data .box .search {
  margin-bottom: 40px;
  float:left;
}
.container .content .data .box .search .search-input {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 45px;
  outline: 0;
  background: url(../image/search.png) no-repeat 10px center;
  background-size: 29px 24px;
  color: #fff;
  width: 350px;
  background-color: transparent;
  border: 1px solid #04b7e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container .content .data .box .search .search-btn {
  height: 40px;
  line-height: 40px;
  color: #d8e7e8;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b9ff8), color-stop(#1f71bc), to(#26628b));
  background: -webkit-linear-gradient(#4b9ff8, #1f71bc, #26628b);
  background: linear-gradient(#4b9ff8, #1f71bc, #26628b);
  border: 1px solid #1a2a38;
  outline: 0;
  margin-left: 30px;
  font-size: 16px;
  padding: 0 15px;
  cursor: pointer;
}
.container .content .data .box .result {
  font-size: 16px;
}
#map {
  width: 100%;
  height: 100%;
  margin: auto;
}
#map .BMap_cpyCtrl {
  display: none;
}
#map .anchorBL {
  display: none;
}
#time-prev-btn {
  background: url(../image/prev.png) no-repeat center;
  background-size: 20px 20px;
}
#time-next-btn {
  background: url(../image/next.png) no-repeat center;
  background-size: 20px 20px;
}
#behavior_analysis_line {
  height: 300px;
  width: 100%;
  margin-bottom: 40px;
}
#behavior_analysis_bar {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
}
#behavior_analysis_pie,
#behavior_analysis_bar_total {
  width: 50%;
  height: 300px;
  margin-bottom: 40px;
  float: left;
}
