<div class="item">
	<div class="text">每日预警</div>
	<div class="item-bar">
		<a th:href="@{/index}" data-href="/index" nav-id="11">重点关注</a>
	</div>
</div>
<div class="item">
	<div class="text">智能辅助</div>
	<div class="item-bar">
		<a th:href="@{/behavior-analysis}" data-href="/behavior-analysis" nav-id="21">行为分析</a>
		<a th:href="@{/behavior-prediction}" data-href="/behavior-prediction" nav-id="22">行为预测</a>
		<a th:href="@{/high-analysis}" data-href="/high-analysis" nav-id="23">高频分析</a>
	</div>
</div>