<span id="time-prev-btn"></span>
<select name="year">
	<option value="2017">2017</option>
	<option value="2016">2016</option>
	<option value="2015">2015</option>
	<option value="2014">2014</option>
</select>
<select name="month">
	<option value="05">05</option>
	<option value="04">04</option>
	<option value="03">03</option>
	<option value="02">02</option>
</select>
<select name="day">
	<option value="11">11</option>
	<option value="10">10</option>
	<option value="09">09</option>
	<option value="08">08</option>
</select>
<span id="time-next-btn"></span>