<meta charset="utf-8" />
<meta name="Description" content="可视化大数据" />
<meta name="Keywords" content="可视化大数据" />
<meta http-equiv="Pragma" content="no-cache" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" type="text/css" th:href="@{libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{css/index.css}"/>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" th:src="@{libs/mCustomScrollbar/jquery.mCustomScrollbar.js}" ></script>
<script type="text/javascript" th:src="@{http://api.map.baidu.com/api(v='2.0',ak='OL2VAzoP1NDgaCUH0yXBl2dmkjjfLxmY')}"></script>
<script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.6.2/extension/bmap.min.js"></script>
<script type="text/javascript" th:src="@{libs/dateSelector/jquery.dateSelector.js}" ></script>
<title th:text="${title}"></title>
